    </main>
    <footer class="footer">
      <span><%= settings.appName %></span>
      <a href="/termos">Termos</a>
      <a href="/premiacoes">Premiações</a>
      <a href="/privacidade">Privacidade</a>
      <a href="/regras">Regras</a>
    </footer>
  </body>
</html>
